<div class="row header-offset">
    <div class="row full-row">
        <div class="col-sm-4 " style="padding: 10%;">
            <button class="btn btn-success" (click)="getUsersList()">Get Users List</button>
        <div>
    </div><br>
    <div class="row full-row">
            <div class="col-sm-4" >
                <button class="btn btn-success" (click)="getHotelsList()">Get Hotel List</button>
            </div>
    </div> <br>
    <div class="row full-row">
        <div class="col-sm-4" >
            <button class="btn btn-success ">Back</button>
        </div>
    </div>
   
        
    
</div>
