<form [formGroup]="registerForm" name="registerForm" (ngSubmit)="onRegister(registerForm.value)">
<div class="row header-offset">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 text-center">
        <mat-card>
            <mat-card-title>
              <h2>Registration</h2>
            </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="legacy" class="full-row">
                    <mat-label>Enter Name</mat-label>
                    <input matInput formControlName="fullName" placeholder="rk.ranjan@gmail.com">
                  </mat-form-field>
                  <mat-form-field appearance="legacy" class="full-row">
                    <mat-label>Enter your email id</mat-label>
                    <input matInput formControlName="emailId"  placeholder="rk.ranjan@gmail.com">
                  </mat-form-field>
                  <mat-form-field appearance="legacy" class="full-row">
                    <mat-label>Enter City</mat-label>
                    <input matInput formControlName="city" placeholder="rk.ranjan@gmail.com">
                  </mat-form-field>
                  
                  <br>
                  <mat-form-field appearance="standard"  class="full-row">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'text' : 'password'" placeholder="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <br>
                  <button type="submit" class="btn btn-success">Register</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</form>